@model CS.Models.Cars

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}
<h1>Детайли</h1>
@Html.Partial("_CarsPartial")
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeFuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeFuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeEngine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeEngine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageExpenseTOWN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageExpenseTOWN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageExpenseONROAD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageExpenseONROAD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageExpenseCOMBINED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageExpenseCOMBINED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfManufacture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfManufacture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeCompartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeCompartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalPrice)
        </dd>
        
    </dl>
</div>

<div>
    @if(User.Identity.IsAuthenticated){
    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model?.CarsID">Редактирай </a>
    }
    <a class="btn btn-outline-info" asp-action="Index">Назад към списъка</a>
</div>
