@model IEnumerable<CS.Models.TestDrive>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}
<h1>Списък със заявки за тест драйв</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientMiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOTestDrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientMiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOTestDrive)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.TestDriveID">Редактиране</a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.TestDriveID">Детайли</a> |
                <a class="btn btn-outline-info" asp-action="Delete" asp-route-id="@item.TestDriveID">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
